* {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
  }


footer {
    font-size: 9px;
    margin: 5px;
    padding: 10px;
}

.container-cabecalho {
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
    background-color: #022902;
    color: #ffffff;
    text-align: center;
}

.ranking {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
  }
  
  .rank-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
  }
  
  .position {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .name {
    margin-left: 20px;
  }

  .team-card {
    border: 2px solid #3498db5b;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px #0000001a;
  }
  
  .team-logo {
    max-width: 80px;
    height: 80px;
    margin: 5px;
  }
  
  .team-info {
    padding: 20px;
  }
  
  .team-name {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .team-stadium {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #ffff0077;
  }
  
  .team-origin, .team-curiosity {
    font-size: 1.2em;
    color: #555;
  }

  .card-campoes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }